.container
	.header
		ul(class="nav nav-pills pull-right")
			li
				h5.brand(href="http://twitter.com/#{user.username}") Logged in as #{user.username}
			li
				img.img-circle(src="#{user.profile_data.icon[0].value}", width="40", height="40")
			li.active
				a(href="/app") Home
			li
				a(href="/app/quests") Quests
			li
				a(href="/p/#{user.username}") Profile
			li
				a(href="/logout") Logout

		h3.text-muted Life Game
	br	
	div.text-center
		h2 Welcome back, #{user.profile_data.name}!
		p.lead You have 5 quests to be done. 

	div(class="row marketing")
		div(class="col-xs-6")
			h1.text-center Dailies
		div(class="col-xs-6")
			h1.text-center Quests
		div(class="col-xs-6")
			hr
			div
				h4 Take out the trash
				h5 Every Wednesday
				p Take out the trash  
				p Reward: 15 GP
		div(class="col-xs-6")
			hr
			div
				h4 Subheading
				h5 Due Date
				p Description
	div(class="row marketing")
		div(class="col-xs-6")
			hr
			div
				h4 Take out the trash
				h5 Every Wednesday
				p Take out the trash  
				p Reward: 15 GP
		div(class="col-xs-6")
			hr
			div
				h4 Subheading
				h5 Due Date
				p Description