nav(class="navbar-wrapper navbar-default navbar-static-top" role="navigation")
	.container
		.navbar-header
			a.navbar-brand(href="/") Life, the Game

.container
	.hero-unit.text-center
		h1 Life, the Game!
		p Get stuff done by making your friends pester you until you want to hang yourself
		p
			a.btn.btn-primary.btn-large(href="/auth/twitter") Log in via Twitter
	hr

	.footer
		p Company 2013