.container
	.header
		ul(class="nav nav-pills pull-right")
			li
				h5.brand(href="http://twitter.com/#{user.username}") Logged in as #{user.username}
			li
				img.img-circle(src="#{user.profile_data.icon[0].value}", width="40", height="40")
			li
				a(href="/app") Home
			li.active
				a(href="/app/quests") Quests
			li
				a(href="/p/#{user.username}") Profile
			li
				a(href="/logout") Logout

		h3.text-muted Life Game
	br  